.container_login{
  display: flex;
  max-height: calc(100vh - 55px );
  background-color: #1F1F25;
  color:white
}

.img_login{
  overflow: hidden;
  width: 50%;
  object-fit:cover;
}


.container_loginForm{
  margin: 0 auto;
  align-items: center;
  display: flex;

}


.btn_login{
  padding: 5px 20px 5px 20px ;
  background-color: #5E5CE6;
  color: white;
  border: none  ;
  border-radius: 6px;
  align-self: center !important;
}

.form_contain{
  margin: 0 auto;
}
